*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 133px 30px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 1fr;
  gap: 30px;
  width: 100%;
  max-width: 1140px;
  min-height: 534px;
  align-items: flex-end;
}

.result {
  grid-column: 1;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__details {
  grid-column: 2;
  grid-row: 1 / -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: auto;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__textfield {
  background: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 3px 0;
  width: 100%;
  min-width: 225px;
  appearance: none;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:active {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.search-form__label:has(.search-form__textfield:focus-visible:not(:active)) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__submit-button {
  align-self: flex-end;
  margin-top: auto;
}

/* Кнопки */
.button {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 6px 73.5px;
  cursor: pointer;
  min-height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Заголовок */
.title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
  display: inline-block;
  position: relative;
}

.content__accent::after {
  content: '-';
  position: absolute;
  transform: translateY(-5%);
}

.content__list-container {
  /* padding-top: 2px; */
  height: 298px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content__list {
  flex: 1;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

/* Карточки видео */
.content__card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  margin: 2px;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 0;
}

.content__video-card-description-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0px;
  min-width: 0;
  overflow: hidden;
}

.content__video-card-title {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* или другое количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more-button {
  width: 100%;
  margin-top: auto;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
